In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [39]:
df=pd.read_csv("reliance.csv")
df.head()

         Date       Open       High        Low    Close  Adj Close      Volume
0  1996-01-01  16.009800  16.095699  15.904300  16.0683   2.426239  47600787.0
1  1996-01-02  16.029301  16.107401  15.826200  15.9434   2.407380  77143764.0
2  1996-01-03  16.205000  16.943001  16.029301  16.0644   2.425650  95695836.0
3  1996-01-04  15.912100  15.962900  15.701300  15.9160   2.403243  99159504.0
4  1996-01-05  15.853600  15.853600  15.670000  15.8067   2.386739  76213503.0

In [40]:
df.shape

(5953, 7)

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5953 entries, 0 to 5952
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       5953 non-null   object
 1   Open       5833 non-null   float64
 2   High       5833 non-null   float64
 3   Low        5833 non-null   float64
 4   Close      5833 non-null   float64
 5   Adj Close  5833 non-null   float64
 6   Volume     5833 non-null   float64
dtypes: float64(6), object(1)
memory usage: 325.7+ KB

In [51]:
df.isnull().sum()

Date           0
Open           0
High           0
Low            0
Close          0
Adj Close    120
Volume       120
dtype: int64

In [52]:
df["Open"].fillna(df["Open"].mean(),inplace=True)
df["High"].fillna(df["High"].mean(),inplace=True)
df["Low"].fillna(df["Low"].mean(),inplace=True)
df["Close"].fillna(df["Close"].mean(),inplace=True)
df["Adj Close"].fillna(df["Adj Close"].mean(),inplace=True)
df["Volume"].fillna(df["Volume"].mean(),inplace=True)

In [53]:
df.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [54]:
x=df.loc[:,"High":"Volume"]
y=df.loc[:,"Open"]

In [55]:
x_train,x_test,y_train,y_test = train_test_split (x ,y ,test_size=0.2, random_state=0)

In [56]:
lnr=LinearRegression()

In [57]:
lnr.fit(x_train,y_train)

LinearRegression()

In [58]:
m=lnr.coef_  # slope
c=lnr.intercept_   #intersecpt
print("slope",m)
print("intercept",c)

slope [ 9.27442693e-01  7.59049114e-01 -6.90091880e-01  1.78084609e-03
 -1.07799532e-09]
intercept 0.0158345007389471

In [59]:
predicted_y = lnr.predict(x_test)# test the model
print("predicted y records:",predicted_y)
print("real answers",y_test)

predicted y records: [ 14.59993182  61.54298119 335.68061418 ... 438.01811329 327.34569558
 937.62118058]
real answers 134      14.975000
1364     61.540001
555     335.690777
4144    364.750000
2858    339.500000
           ...
1547     47.662201
2857    341.750000
3957    437.850006
3364    325.000000
5595    937.650024
Name: Open, Length: 1191, dtype: float64

In [61]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from math import sqrt
print("RMSE is:-")

print('Mean Absolute Error(MAE):', mean_absolute_error(y_test, predicted_y))
print('Mean Squared Error(MSE):', mean_squared_error(y_test, predicted_y))
print('Root Mean Squared Error(RMSE):', np.sqrt(mean_squared_error(y_test, predicted_y)))

RMSE is:-
Mean Absolute Error(MAE): 2.0961082753663574
Mean Squared Error(MSE): 18.15127541750674
Root Mean Squared Error(RMSE): 4.26043136519141